@page "/"
@page "/{Category}"

@using GrandingWebshop.Models
@using System.Text.Json;
@inject Cart cart
@inject HttpClient Http

<PageTitle>Granding.dk</PageTitle>

<div class="album py-5 bg-light">
	<div class="container">

		<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3">
			@if (root == null || root.results == null)
			{
				@for (int i = 0; i < 20; i++) 
				{
					<ProductCard></ProductCard>
				}
			}
			else
			{
				@foreach (ProductModel product in root.results)
				{
					<ProductCard product=product></ProductCard>
				}
			}
		</div>
	</div>
</div>

@code {
	[Parameter]
	public string Category { get; set; }

	private Root? root; // response model

	protected async Task GetCategory(int categoryId)
	{
		HttpResponseMessage response = await Http.GetAsync($"get_products/{categoryId}");
		string json = await response.Content.ReadAsStringAsync();

		if (json[0] == '<')
			return; // this is not json

		root = JsonSerializer.Deserialize<Root>(json);
	}

	protected override async Task OnParametersSetAsync()
	{
		if (Category == default)
		{
			await GetCategory((int)Enums.categories.ALL);
		}
		else
		{
			Enums.categories categoryEnum = (Enums.categories)Enum.Parse(typeof(Enums.categories), Category);
			await GetCategory((int)categoryEnum);
		}
	}
}
