@page "/products"
@using GrandingWebshop.Models
@using System.Text.Json;
@inject HttpClient Http


<PageTitle>Products test</PageTitle>

<h1>Products test (functions)</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (root == null || root.results == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (ProductModel product in root.results)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="@product.ImageUrl" class="card-img-top" alt="...">

                            <div class="card-body">
                                <p class="card-text">@product.Name</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {
    private Root? root; // response model
    int categoryId = 1; // test

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await Http.GetAsync($"get_products{categoryId}");
        string json = await response.Content.ReadAsStringAsync();
        Console.WriteLine(json);

        root = JsonSerializer.Deserialize<Root>(json);
    }

    public class Meta
    {
        public string? served_by { get; set; }
        public double duration { get; set; }
        public int changes { get; set; }
        public int last_row_id { get; set; }
        public bool changed_db { get; set; }
        public int size_after { get; set; }
        public int rows_read { get; set; }
        public int rows_written { get; set; }
    }

    public class Root
    {
        public bool success { get; set; }
        public Meta? meta { get; set; }
        public ProductModel[]? results { get; set; }
    }


}
