@page "/productsfunc"
@using GrandingWebshop.Models
@using System.Text.Json;
@inject HttpClient Http
@inject javaScriptInterface jsInterface


<PageTitle>Products test</PageTitle>

<h1>Products test (functions)</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>In stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Amount</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ProductModel[]? products;

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await Http.GetAsync("get_products");
        string json = await response.Content.ReadAsStringAsync();
        Console.WriteLine(json);

        ResponseModel? responseModel = JsonSerializer.Deserialize<ResponseModel>(json);

        if (responseModel == null)
        {
            Console.WriteLine("null (bad)");
            return;
        }
        Console.WriteLine("not null (this is good)");

        products = responseModel.results;

        //StateHasChanged();
    }

    public class ResponseModel
    {
        public Object[]? meta { get; set; }
        public bool? success { get; set; }
        public ProductModel[]? results { get; set; }
    }
}
