@inherits LayoutComponentBase
@inject Cart cart
@using Models

<div class="page">

    <header class="container navbar navbar-light navbar-expand-md bg-faded justify-content-center">
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="collapse navbar-collapse navbar-nav justify-content-center order-md-2">
            <li class="nav-item">
                <a class="nav-link" href="Kunst">Kunst</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="Accessories">Accesories</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="Smykker">Smykker</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="Interiør">Interiør</a>
            </li>

            <li class="nav-item" @onmouseover="MouseOver" @onmouseout="MouseOut">
                <a class="nav-link" href="Årstidsbestemt">Årstidsbestemt</a>
                <ul class="dropdown-menu @MouseOverClass">
                    <li><a class="dropdown-item" href="Jul">Jul</a></li>
                    <li><a class="dropdown-item" href="Halloween">Halloween</a></li>
                    <li><a class="dropdown-item" href="Påske">Påske</a></li>
                </ul>
            </li>

        </ul>
        <ul class="nav navbar-nav justify-content-center order-md-1">
            <li class="nav-item"><a class="nav-link navbar-brand" href="#">Granding.dk</a></li>
        </ul>
        <ul class="nav navbar-nav justify-content-center order-md-3">
            <li class="nav-item">
                <button class=" btn btn-primary" @onclick="() => modal.Open()" role="button ">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="badge rounded-pill bg-danger">@cart.products.Count</span>
                </button>
            </li>
        </ul>

    </header>

    <main>
		<CartModal @ref="modal">
			<Title>Checkout</Title>
			<Body>
                <ul class="list-group list-group-flush">
                    @foreach (ProductModel product in cart.products)
                    {
                        <CartModalItem product=product></CartModalItem>
                    }
                </ul>
			</Body>
			<Footer>
				<button type="button" class="btn btn-primary">this button does nothing...</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => modal.Close()">Close</button>
			</Footer>
		</CartModal>
    
        @Body

    </main>

    <footer class="text-muted py-5">
      <div class="container">
@*         <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p> *@
        <a class="nav-link" href=""><i class="fa-brands fa-instagram"></i></a>
      </div>
    </footer>

</div>

@code {
    private bool Toggle { get; set; } = false;
    private CartModal modal { get; set; }

    string MouseOverClass { get; set; }
    void MouseOver(MouseEventArgs e) { MouseOverClass = "show"; }
    void MouseOut(MouseEventArgs e) { MouseOverClass = ""; }
}