@inherits LayoutComponentBase

<div class="page">

    <header class="container navbar navbar-light navbar-expand-md bg-faded justify-content-center">

        <div class="navbar-collapse collapse w-100">
            <ul class="nav navbar-nav w-25 justify-content-start">
                <li class="nav-item"><a class="nav-link navbar-brand" href="#">Granding.dk</a></li>
            </ul>

            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="Kunst">Kunst</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="Accessories">Accesories</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="Smykker">Smykker</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="Interiør">Interiør</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="Årstidsbestemt">Årstidsbestemt</a>
                </li>
            </ul>

            <ul class="nav navbar-nav ml-auto w-25 justify-content-end">
                <li class="nav-item"><a class="nav-link" href=""><i class="fa-brands fa-instagram"></i></a> </li>
                <li class="nav-item"><a class="nav-link" href=""><i class="fa-solid fa-cart-shopping"></i></a> </li>
            </ul>

        </div>
    </header>

    <main>
            @Body
    </main>

    <footer class="text-muted py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
        <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.1/getting-started/introduction/">getting started guide</a>.</p>
      </div>
    </footer>

</div>