@using Models
@inject Cart cart

<div class="col">
	<div class="card shadow-sm">
		<img src="@product.ImageUrl" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">@product.Name</h5>
			<p class="card-text">@product.Description</p>
			<p class="card-text"><small class="text-muted">@product.Price kr.</small></p>
			<button @onclick="AddToCart" type="button" class="btn btn-primary">Add to cart</button>
		</div>
	</div>
</div>
@code{
	[Parameter, EditorRequired]
	public ProductModel product { get; set; }

	private async Task AddToCart()
	{
		await cart.AddProductToCartAsync(product);
	}

}

